* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: rgb(155, 155, 155);
}

#main-cont {
  /* border: 2px solid magenta; */
  height: 200px;
  display: flex;
  flex-direction: column;
}

#title {
  color: rgb(155, 155, 155);
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 17px;
  letter-spacing: 5px;
  width: 240px;
  margin: auto;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -4px;
  transition: 0.5s ease-in-out;
}

#battle {
  margin-top: 50px;
  margin-bottom: 50px;
}

#battle-wrap {
  display: flex;
  justify-content: space-evenly;
}
#fight {
  margin-top: 35px;
}

#cpu {
  display: flex;
  flex-direction: column;
}

#cpu p {
  display: flex;
  justify-content: center;
}

#choose {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(155, 155, 155);
}

#choices {
  display: flex;
  justify-content: space-around;
  transition: 1.5s ease-in-out;
}

img {
  width: 70px;
  height: 70px;
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -4px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

img:hover {
  box-shadow: none;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 1px 2px -1px;
}

#battle img:hover {
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -4px;
  cursor: default;
}

.animate-1 {
  animation-name: scaleAnimate1;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes scaleAnimate1 {
  0% {
    transform: rotate(0.01deg) scale(1);
  }
  50% {
    transform: rotate(0.01deg) scale(0.9);
  }
  100% {
    transform: rotate(0.01deg) scale(1);
  }
}

@media (min-width: 499px) {
  #title {
    font-size: 30px;
    letter-spacing: 7px;
    width: 400px;
  }
}

@media (min-width: 750px) {
  #choices {
    width: 400px;
    margin: auto;
  }
  #battle {
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
  }
}
